<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}
    <link href="{{ url_for('static', path='/base_styles.css') }}" rel="stylesheet">
    {% endblock %}
    <title>{% block title %}{% endblock %} - author1zd</title>
</head>
{% block body %}{% endblock %}
</html>